<body id="patient_cards" style="background: black; color: chartreuse" >
<div id="<%= dom_id patient_card %>">
  <p>
    <strong>Department:</strong>
    <%= patient_card.department_id %>
  </p>

  <p>
    <strong>Doctor:</strong>
    <%= patient_card.doctor_id %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= patient_card.patient_id %>
  </p>

</div>
</body>
