<body id="departments" style="background: black; color: chartreuse" >
<div id="<%= dom_id department %>">
  <p>
    <strong>Name:</strong>
    <%= department.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= department.address %>
  </p>

  <p>
    <strong>Founding date:</strong>
    <%= department.founding_date %>
  </p>

</div>
</body>