<h1>New department</h1>

<body id="departments" style="background: black; color: chartreuse" >
<%= render "form", department: @department %>

<br>

<div>
  <%= link_to "Back to departments", departments_path %>
</div>
</body>