<body id="patients" style="background: black; color: chartreuse" >
<div id="<%= dom_id patient %>">
  <p>
    <strong>First name:</strong>
    <%= patient.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= patient.last_name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= patient.date_of_birth %>
  </p>

</div>
</body>