<h1>New patient</h1>

<body id="patients" style="background: black; color: chartreuse" >
<%= render "form", patient: @patient %>

<br>

<div>
  <%= link_to "Back to patients", patients_path %>
</div>
</body>