<body id="doctors" style="background: black; color: chartreuse" >
<div id="<%= dom_id doctor %>">
  <p>
    <strong>Name:</strong>
    <%= doctor.name %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= doctor.department_id %>
  </p>

  <p>
    <strong>Specialization:</strong>
    <%= doctor.specialization_id %>
  </p>

</div>
</body>