<h1>Editing doctor</h1>
<body id="doctors" style="background: black; color: chartreuse" >
<%= render "form", doctor: @doctor %>

<br>

<div>
  <%= link_to "Show this doctor", @doctor %> |
  <%= link_to "Back to doctors", doctors_path %>
</div>
</body>